.heroImg {
  position: relative;
  background: white url("../images/fsk.jpg") center center;
  width: 100%;
  max-height: 100%;
  background-size: cover;
  overflow: visible;
  color: white;
  padding-bottom: 275px;
  margin-bottom: 5%;
}

h1 {
  /* margin-top: 1rem; */
  font-size: 4em; /* 40px/16=2.5em */
}

p {
  font-size: 1.50em; /* 14px/16=0.875em */
}

  .mycontainer {
      position: relative;
      left: 7em;
      top: 7em;
      width: 50%;

}
.consult-card-body{
  padding: 0px !important;
  
}

.consult-grid {
  max-width: 1325px;
  margin-right: auto;
  margin-left: auto;
}
.consult-card-container {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
  width: 300px !important;
  height: 800px;
  margin-bottom: 30px !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px !important;
}

.consult-card-img-container {
  width: 298px;
  height: 300px;
  margin: 0px;
}

.consult-card-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.consult-card-body h3{
  text-align: center;
  text-decoration: underline;
}

.consult-card-body p {
  font-size: 17px;
  margin: 28px;
}

.consult-card-body ul  {
  list-style-type: none;
}