.event-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
}

.grid-item {

}

.card-link {
  text-decoration: none !important;
}
.card-link:focus, :hover, :visited, :link, :active {
  text-decoration: none !important;
}

.individual-card-event {
  width: 300px;
  margin: 10px auto;
  text-align: center;
  /* box-shadow: 0 0 4px #888; */
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

.card-action {
  width: 298px;
}

.add-event-wrapper {
  display: table;
  width: 945px;
  margin-left: auto;
  margin-right: auto;
}

.add-event-wrapper button{
  float: right;
  margin-top: 11px;
  margin-top: 11px;
  border: none;
}

.fa-plus {
  margin-right: 10px 
}

.add-event-wrapper:hover {
  color: #d9534f;
}

.event-grid-container{
  display: grid;
  width: 945px;
  margin-left: auto;
  margin-right: auto;
}

.event-grid-image {
  grid-column: 1 / span 3;
  grid-row: 1;
  width: 470px;
  height: 285px;
}

.event-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.event-card-image {
  border-radius: 17px;
}

.event-headings {
  grid-column: 4 / span 2;
  grid-row: 1;
  max-height:285px;
  margin-left: 20px;
}

.event-headings h2{
  margin: 0px;
  margin-bottom: 10px;
}

.event-headings h2:first-child {
  font-weight: bolder;
  color: #000;
}


.event-headings h2:not(:first-child) {
  font-size: 23px;
}

.event-desc {
  grid-column: 1 / span 6;
  grid-row: 3;
}


