@import url("https://fonts.googleapis.com/css?family=Comfortaa:700");

.home-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered-text {
  text-shadow: 1px 1px 0 rgba(0,0,0,.54);
}

.centered-text h3 {
  position: absolute;
  top: 38% !important;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-text h3 {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3vw;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.centered-text h3 span {
  font-family: "Comfortaa", cursive;
  font-size: 7vw;
}

.background-image {
  max-width: 100%;
  /* height: auto; */
  height: 100% !important;
  margin-top: -90px;
  object-fit: cover;
  z-index: -1;
}

.about-block {
  /* margin: 50px 0 50px 0; */
  margin: -84px 0 50px 0 !important;
  text-align: -moz-center;
}

.about-blurb {
  text-align: center;
  margin-bottom: 50px;
}

.about-block hr {
  border: 0.5px black solid;
  width: 90%;
  max-width: 1000px;
}

.about-blurb h4 {
  max-width: 903px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3;
  padding: 0 20px 0 20px;
}

.home-heading {
  text-align: center;
  font-size: 50px;
  margin: 40px 0;
  font-family: "Comfortaa", cursive;
}

.cardSlide-wrapper {
  text-align: -webkit-center;
}

.card-grid {
  max-width: 900px !important;
  text-align: -webkit-center;
}
.flip-cards {
  max-width: 900px !important;
}

.background-image-container {
  width: 100% !important;
  height: 410px !important;
}
.background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nav-icon {
  float: right;
  margin-right: 42px;
  font-size: 30px;

}

@media screen and (max-width: 1000px) { 
  .background-image-container {
    height: 400px !important;
  }

}

@media screen and (max-width: 700px) {
  .background-image {
    margin-top: auto !important;
  }
  .about-block {
    margin: 50px 0 50px 0 !important;
  }
  .home-heading {
    font-size: 39px !important;
  }
}

@media screen and (max-width: 500px) { 
  .centered-text h3 span {
    display: none;
  }

  .background-image {
    height: 250px !important;
  }

  .centered-text h3 {
    top:0;
    padding-bottom: 30px;
    width: 300px;
    height: 183px;
    padding-top: 0px!important;
    top: 60% !important;
    font-size: 33px !important;
  }

  .background-image-container {
    height: 260px !important;
  }
}
