@import url("https://fonts.googleapis.com/css?family=Comfortaa:700");

.wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto
}

.title{
    text-align: center; 
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;

}

.listing {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 3;

}

.home-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered-text h3 {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-text h3 {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3vw;
  background:rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.centered-text h3 span {
  font-family: "Comfortaa", cursive;
  font-size: 7vw;
}

.background-image {
  max-width: 100%;
  height: auto;
  margin-top: -90px;
}

.about-block {
  margin: 50px 0 50px 0;
}

.home-heading {
  text-align: center;
  font-size: 50px;
  font-family: "Comfortaa", cursive;
}

.cardSlide-wrapper {
  text-align: -webkit-center;
}

.card-grid {
  max-width: 800px;
  text-align: -webkit-center;
}
.flip-cards {
  max-width: 800px;
}

.app-bar{
  background-color: dimgrey
}

.MuiAppBar-colorPrimary-21 {
  color: #fff;
  background-color: #757679!important;
}

.MuiAppBar-colorPrimary-11 {
  color: #fff;
  background-color: #75767e!important;
}

.MuiButton-containedPrimary-107 {
	color: #fff;
  background-color: #75767e!important;
}

@media screen and (max-width: 500px) { 
  .centered-text h3 span {
    display: none;
  }

  .centered-text h3 {
    top:0;
    padding-bottom: 30px;
  }
}