label {
  display: block;
}

.event-form {
  text-align: center;
}

.event-logo-upload {
  margin-left: auto;
  margin-right: auto;
  padding-left: 93px;
}

.event-input {
  width: 500px;
}

.event-date-group{
  display: inline-flex;
  width: 500px;
}

.time-picker {
  margin-right: 72px;
}

.date-picker {
  margin-right: 68px;
}

.event-NumericInput {
  width: 106.55px;
  height: 29px;
}


@media screen and (max-width: 600px) { 
  .event-input {
    width: 280px;
  }


}