.footer-container {
  position: absolute;
  bottom: 0;
  background-color: #2f2f2f0a;
  margin-top: 5px;
  height: 125px;
  width: 100%;
  /* background-image: url('../../images/footer.jpg'); */
  background-size: 100%;
  color: #898989
  ;;
  text-align: center;

}

.footer-container a {
  text-decoration: none;
  color: #898989
}

.footer-container a:hover {
  color: #d9534f;
}

.footer-col-l {
  border-right: 1px #898989 solid;
  height: 77px;
  margin-top: 11px;
}

.footer-col-r {
  margin-top: 11px;
}

.copyright {
  width: 100%;
  bottom: 0px;
  position: absolute;
  height: 27px;
  background-color: #000;
  text-align: center;
  font-size: 17px;
  color: #898989;
  padding-top: 1px;
}
/* 
.foot-img-container {
  height: 100%;
  text-align: center;
}

.foot-link-container {
  padding-left: 50%;
  list-style: none;
  border-left: 2px solid #d5d3d3;
}

.foot-link-container a {
  color: #777;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer-bottom {
  background-color: #d5d3d3;
  text-align: center;
}

.footer-logo {
  max-width: 50px;
} */
