.navbar-Wrapper {
  background: none;
  border: 0;
  box-shadow: none;
  z-index: 1;
}

.navItem-Wrapper {
  margin: auto;
  max-width: 1003px;
  
}

.navItem {
  border-right: 1.1px solid #d9534f !important;
  font-size: 1.3em;
  font-family: "Open Sans Condensed", sans-serif;
  color: #036118;
  padding: 10px 25px;
  margin: 0;
}

.navItem:last-child {
  border-right: 0!important;
}
.navItem:hover {
  /* background-color: beige; */
  background: rgba(225, 217, 217, 0.5);
}

.navbar-nav > li > a {
  padding: 0;
  color: #454645 !important;
}